@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;
  --spotify-green: #1DB954;
  --spotify-green-hover: #1ed760;
  --card-bg: #181818;
  --card-hover: #282828;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}
